<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Extra assets/Mountains/stone1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,410}</string>
                <key>spriteSourceSize</key>
                <string>{594,410}</string>
                <key>textureRect</key>
                <string>{{1,1},{594,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Extra assets/lightning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,0}</string>
                <key>spriteSize</key>
                <string>{262,230}</string>
                <key>spriteSourceSize</key>
                <string>{380,230}</string>
                <key>textureRect</key>
                <string>{{1,413},{262,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>River_sets/9R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,234}</string>
                <key>spriteSourceSize</key>
                <string>{580,234}</string>
                <key>textureRect</key>
                <string>{{597,1},{580,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI/Group 11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,145}</string>
                <key>spriteSourceSize</key>
                <string>{141,145}</string>
                <key>textureRect</key>
                <string>{{233,413},{141,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI/sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,145}</string>
                <key>spriteSourceSize</key>
                <string>{141,145}</string>
                <key>textureRect</key>
                <string>{{233,560},{141,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MasterSheet-1.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c0ef61121569146a7bdf45068efffa3:870783332043f600bd51a5b6c0f2da15:a23036c1457cbbd1027b9906a737cac7$</string>
            <key>textureFileName</key>
            <string>MasterSheet-1.png</string>
        </dict>
    </dict>
</plist>
