<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Main_menu_level/start _midd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,555}</string>
                <key>spriteSourceSize</key>
                <string>{428,555}</string>
                <key>textureRect</key>
                <string>{{601,1},{428,555}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>River_sets/1R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,404}</string>
                <key>spriteSourceSize</key>
                <string>{598,404}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MasterSheet-1.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d2629ee29970241fb0c795906d859e:0239a9cdddd49909a1ee81f8efb8593c:a23036c1457cbbd1027b9906a737cac7$</string>
            <key>textureFileName</key>
            <string>MasterSheet-1.png</string>
        </dict>
    </dict>
</plist>
